.wrapper {
  .dragger {
    border-color: rgba($primary, 0.25) !important;
    padding: 16px;

    :global(.ant-upload-drag-icon .anticon) {
      color: $primary !important;
      font-size: 48px;
    }

    :global(.ant-upload-text) {
      color: $text-primary;
      font-weight: 500;
    }

    :global(.ant-upload-hint) {
      color: $text-secondary;
    }
  }
}
